.screen2__header{
  position: absolute;
  top: clamp(0px, 1vw, 2px);
  left: clamp(16px, 4vw, 40px);
  z-index: 2;
}
.screen2__header img{
  width: min(350px, 32vw); /* ajustaremos al pixel luego */
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  .screen2__header img{
    width: min(350px, 32vw); /* ajustaremos al pixel luego */
  }
  .screen2__header{
    top: clamp(6px, 2vw, 4px);
    left: clamp(6px, 2vw, 4px);
  }
}